<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luluspace</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <table>
        <tr>
            <td valign="top">
                <div id="control"></div>
            </td>
            <td valign="top">
What is this? The below are 4510 people's affinities broken into groups based on their TLV ('total lifetime value'). In the below each affinity have been normalized across across all groups. Within each group their have further been normalized by the number of sessions that each person had. Use a random KNN to cluster the groups. 
            <p/>
How to use this? In the select box choose one or more group to compare. The numbers represent the 'tlv band' that I used to form initial groupings. The first number in a row is the number of people that this row represents. The second number is that group of people's TLV. The <a href=https://en.wikipedia.org/wiki/Sparkline#:~:text=A%20sparkline%20is%20a%20very,simple%20and%20highly%20condensed%20way.>sparklines</a> are a vectorized representation of their clustered history through luluspace.
            </td>
        </tr>
    </table>
    <div id="column">&nbsp;</div>
    <div id="value">&nbsp;</div>

    <hr />
    <div id="output"></div>



    <script src="/static/script.js"></script>
</body>

</html>
